body {
    background-color: #f1f1f1 !important;
 
}


/* Nav */

.nav-perso {
    margin-bottom: 160px;
    text-align: center;
    background: #B3FFAB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12FFF7, #B3FFAB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    height: 300px;
}

.nav-perso:after {

    content: '';
    background: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform-origin: top left;
    transform: skewY(3deg);
    z-index: -1;
    
    -webkit-filter: drop-shadow(0px 2px 2px rgba(130, 130, 130, 1));
    filter: drop-shadow(0px 2px 2px rgba(130, 130, 130, 1));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";

}

.nav-perso h1 {
    margin-top: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #ffffff;
}

.nav-links {
    margin-top: 40px;
}

.btn-nav {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    background: #000000;
    padding: 10px 20px;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 5px;
}

.btn-nav:hover {
    border: none;
    background: rgba(0, 0, 0, 0.4);
    background: #fff;
    padding: 20px 20px;
    color: #1b1b1b;
}

@media screen and (max-width: 640px) {
    .nav-perso h1 {
        
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: #000000;
    }

    .btn-nav {
        color: #000000;
        font-family: 'Oswald', sans-serif;
        background: #ffffff;
        padding: 10px 20px;
        font-size: 0.7em;
        text-decoration: none;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-right: 5px;
    }

    #article-container {
       margin: 40px 0 !important;
    }

    .article-text {
        padding: 0 !important;
     }
    
  }

/* Form */

.form-create {
    margin-top: 150px;
}

textarea.materialize-textarea {
    height: 30rem !important;
    background-color: rgb(251, 249, 249);
}

.helper-text {
    color: red !important;
    font-size: 12px !important;
}

/* Themes Card */


.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 60px;
    /* Added */
    font-family: 'Heebo';
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 2em -1em black;
    transition: all .3s ease-out;
    position: relative;
    overflow: hidden;
    border: 10px solid #ccc;
    text-decoration: none;

}

.card:hover {
    transform: translate(0, -5px);
}

.card h3 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
    display: flex;
    align-items: flex-start;

}

.card:hover {
    color: white;
    text-decoration: none;

}



/* Pagination */

.pagination {
    justify-content: center;
    font-size: large;
    color: #000000;
    display: inline;
}

.page-item button {
    color: #000000;
}

.page-item .page-link {
    border: none !important;
}

.page-item.active .page-link {
    background-color: #000000 !important;
    border: none !important;

}

/* Footer */

.footer {
    font-size: 8px;
    color: #fff;
    clear: both;
    display: block;
    letter-spacing: 5px;
    border: 1px solid #fff;
    padding: 5px;
    width: 210px;
    margin: auto;
    margin-top: 400px;
}

.footer a {
    text-decoration: none;
}

/* Title */

h2 {
    font-size: 44px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em !important;
    margin: 10px 0 20px;
    padding-left: 50px;
    text-decoration: blink;
    font-family: 'Oswald', sans-serif;

}

h2 span {
    background-color: #F1F1F1;
    padding: 0 40px;
}

.title-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Home */

#article-container {
    background-color: #fff;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    -webkit-box-shadow: 2px -2px 14px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px -2px 14px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 2px -2px 14px -4px rgba(0, 0, 0, 0.75);


}

.article-title {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 40px;
}

.article-text {
    font-size: 24px;
    text-align: justify;
    padding: 0 60px 0 60px;

}

br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 30%;

}

/* RECENTS POSTS */

.recents-posts {
    -webkit-box-shadow: 2px -2px 14px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px -2px 14px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 2px -2px 14px -4px rgba(0, 0, 0, 0.75);
    height: 100%;
    margin-right: 40px;
}

.recents-posts-header {

    background-color: #000000;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 15px;
    


}

.recents-posts-header p {

    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.recents-posts-header i {

    color: #ffffff;
    float: right;
    padding-top: 5px;


}

.recents-posts-body {

    background-color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

.recents-posts-body h4 {
    padding: 15px;
    font-size: 1.4em;
}

.recents-posts-info {
    display: flex;
    justify-content: start;

}

.recents-posts-info p:nth-child(3) {
    font-weight: bold;

}

.recents-posts-info span {
    margin: 0 15px;
}

.recents-posts-bloc {
    border-bottom: 1px solid grey;
    width: 100%;
}