

/* Nav */

/* Form */

.form-create {
  margin-top: 150px;
}

textarea.materialize-textarea {
  height: 30rem !important;
  background-color: rgb(218, 238, 255);
}

.helper-text {
  color: red !important;
  font-size: 12px !important;
}